@import url("https://drayux.com/styles/fonts/jetbrains-mono.css"); 

:root {
    /* Define these bad boys in OBS */
    /* (0, 0) is bottom-left (TODO: Reversed chat mode) /
    --gChatPosX: 0px;
    --gChatPosY: 0px;
    --gChatWidth: 600px;
    */

    /* Color accent palette */
    --gAccentColorGray:     hsl(0, 0%, 50%);
    --gAccentColorRed:      hsl(0, 70%, 70%);
    --gAccentColorOrange:   hsl(30, 70%, 70%);
    --gAccentColorYellow:   hsl(60, 70%, 70%);
    --gAccentColorLime:     hsl(90, 70%, 70%);
    --gAccentColorGreen:    hsl(120, 70%, 70%);
    --gAccentColorMint:     hsl(150, 70%, 70%);
    --gAccentColorTeal:     hsl(180, 70%, 70%);
    --gAccentColorBlue:     hsl(210, 70%, 70%);
    --gAccentColorPurple:   hsl(240, 70%, 70%);
    --gAccentColorLavender: hsl(270, 70%, 70%);
    --gAccentColorPink:     hsl(300, 70%, 70%);
    --gAccentColorBlush:    hsl(330, 70%, 70%);
}

html { height: 100% }

@keyframes animateIn {
0%   {
    transform: translate(-105%, 0%);
    opacity: 0;
}
100% {
    transform: translate(0%, 0%);
    opacity: 1;
}}

@keyframes animateOut {
0% {
    transform: translate(0%, 0%);
    opacity: 1;
}
100% {
    transform: translate(-105%, 0%);
    opacity: 0;
}}

#chatbox {
    /* Sizes */
    --gFontSizeTitle: 20px;
    --gFontSizeHost: 16px;
    --gFontSizeText: 18px;
    --gFontSizeReply: 15px;
    --gFontSizeAlert: 24px;
    
    --gEmoteSizeText: 28px;
    --gEmoteSizeReact: 60px;
    --gEmoteSizeAlert: 36px;

    --gChatSkew: -4deg;
    --gBorderSize: 4px;
    --gBorderRadius: 14px;
    --gImageHeight: 220px;
    /* --gDecorationSize: 26px;        /* This one could be local since the decoration is unique to this style */
    
    /* Margins */
    --gTitlePaddingVert: 5px;
    --gTitlePaddingSide: 17px;

    --gContentTitle: 22px;
    --gContentPaddingSide: 12px;
    --gContentPaddingText: 8px;
    --gContentPaddingReact: 4px;
    --gContentPaddingAlert: 24px;
    --gContentPaddingSmallEmote: 0px;   /* Defined in emoteonly and added to content padding */
    --gContentPaddingBigEmote: -4px;    /* Defined in emoteonly and added to content padding */
    
    --gChatSpacing: 30px;           /* Vertical distance chat messages are seperated */
    --gEmoteSpacing: 3px;           /* Horizontal distances emotes are spaced */

    /* Colors */
    --gFontColor: hsl(200, 15%, 90%);
    --gFontColorReply: hsl(200, 15%, 80%);
    --gBackgroundColor: hsla(200, 15%, 5%, 80%);
    --gBackgroundColorAlert: hsla(200, 15%, 3%, 90%);
    --gBackgroundColorError: hsl(0, 60%, 60%);
    --gImageOpacity: 0.75;

    /* Animations */
    --gAnimateInSpeed: 0.5s;
    --gAnimateInDelay: 0s;
    --gAnimateInCurve: cubic-bezier(0.075, 0.82, 0.165, 1);
    --gAnimateOutSpeed: 0.333s;
    --gAnimateOutDelay: 30.5s;
    --gAnimateOutCurve: cubic-bezier(0.95, 0.05, 0.795, 0.035);

    
    position: absolute;
    /* bottom: calc( 100% - var(--gPosY) ); */
    bottom: var(--gChatPosY, 0px);
    left: var(--gChatPosX, 0px);
    width: var(--gChatWidth, 600px);
    color: var(--gFontColor);
    font-family: Jetbrains-Mono;
    font-size: 0px;     /* This modifies the size of the inline whitespace nodes */

    /* Skew should be performed with StreamFX as this skew is much more pixelated */
    transform: skew(0deg, var(--gChatSkew));
}

/* .chat > span { display: block; } */
.chat {
    margin-top: var(--gChatSpacing);
    margin-bottom: 0px;
    position: relative;
    
    line-height: 1.175;

    border-radius: var(--gBorderRadius);
    border-bottom: solid var(--borderSize, var(--gBorderSize));
    border-left: solid var(--borderSize, var(--gBorderSize));
    border-color: var(--color, var(--gAccentColorGray));

    background-color: var(--backgroundColor, var(--gBackgroundColor));
    /* overflow: hidden; */

    animation: 
        animateIn var(--gAnimateInSpeed) var(--gAnimateInDelay) var(--gAnimateInCurve) forwards,
        animateOut var(--gAnimateOutSpeed) var(--gAnimateOutDelay) var(--gAnimateOutCurve) forwards;
}

/* Various sizing formats for different conditions */
/* text     ->  Regular small text with or without emotes (default) */
/* react    ->  Large form for an emote-only message                */
/* image    ->  Small text and image background (fixed height)      */
/* alert    ->  Large form including text and emotes (or alert)     */
.text {
    --contentPaddingTop: var(--gContentPaddingText);
    --contentPaddingBottom: var(--gContentPaddingText);
    --emoteSize: var(--gEmoteSizeText);
}

.react {
    --contentPaddingTop: var(--gContentPaddingReact);
    --contentPaddingBottom: var(--gContentPaddingReact);
    --emoteSize: var(--gEmoteSizeReact);
}

.image {
    --contentPosition: absolute;
    --contentPaddingTop: var(--gContentPaddingText);
    --contentPaddingBottom: var(--gContentPaddingText);
    --emoteSize: var(--gEmoteSizeText);
    --backgroundColor: transparent;

    min-height: var(--gImageHeight);
    /*background-image: var(--backgroundImage, none);
    background-size: contain;       /* alt: cover /
    background-position: center;    /* alt: top-center /
    background-repeat: repeat;      /* alt: no-repeat */

    /* Complete the border when displaying images */
    border-top: solid var(--gBorderSize);
    border-right: solid var(--gBorderSize);
    border-color: var(--color, var(--gAccentColorGray));
}

.alert {
    --titleOffset: 0px;
    --borderSize: 0px;

    --contentMarginTop: calc(var(--gChatSpacing) / -2);
    --contentPaddingTop: var(--gContentPaddingAlert);
    --contentPaddingBottom: var(--gContentPaddingAlert);
    --contentPaddingOffset: var(--gBorderSize);

    --backgroundColor: var(--gBackgroundColorAlert);
    --fontSize: var(--gFontSizeAlert);
    --emoteSize: var(--gEmoteSizeAlert);
}

.title::before {
    margin-left: -6px;
    padding-right: 2px;
    content: "//";
    font-size: 22px;
    font-weight: 900; }
.title {
    margin-top: calc(-1 * var(--titleOffset, var(--gContentTitle)));
    margin-left: calc(-1 * var(--borderSize, var(--gBorderSize)));

    padding-top: var(--gTitlePaddingVert);
    padding-bottom: var(--gTitlePaddingVert);
    padding-left: var(--gTitlePaddingSide);
    padding-right: var(--gTitlePaddingSide);
    
    /* position: relative; */
    display: inline-block;
    /* z-index: 1; */

    border-radius: var(--gBorderRadius) var(--gBorderRadius) var(--gBorderRadius) 0px;
    background-color: var(--color, var(--gAccentColorGray));
}

.name {
    font-size: var(--gFontSizeTitle);
    font-weight: 800;
    text-transform: uppercase;
}

.host::before {
    padding-left: 4px;
    padding-right: 2px;
    content: '@'; }
.host {
    font-size: var(--gFontSizeHost);
    font-weight: 800;
    text-transform: uppercase;
}

.content {
    /* Variables depend on subclass */
    margin-top: var(--contentMarginTop, 0px);
    margin-bottom: var(--contentMarginBottom, 0px);
    padding-top: var(--contentPaddingTop, 8px);
    padding-bottom: var(--contentPaddingBottom, 8px);
    padding-left: calc(var(--contentPaddingOffset, 0px) + var(--gContentPaddingSide));
    padding-right: calc(var(--contentPaddingOffset, 0px) + var(--gContentPaddingSide));
    /* --- */

    position: var(--contentPosition);
    bottom: 0px;        /* Only applied in absolute positioning (image format) */
    display: block;

    font-size: var(--fontSize, var(--gFontSizeText));
    font-weight: 700;
}

/* emoteonly -> resets image margin to normal */
.emoteonly { --emoteMargin: 0px; }

.reply {
    /* padding-top: var(--gReplyPadding); */
    padding-bottom: 4px;

    display: block;
    overflow: hidden;

    font-size: var(--gFontSizeReply);
    font-weight: 600;
    font-style: italic;
    color: var(--gFontColorReply);

    white-space: nowrap;
    text-overflow: ellipsis;
}

.emote {
    --size: var(--emoteSize, var(--gEmoteSizeText));
    width: var(--size);
    height: var(--size);
    margin-top: var(--emoteMargin, calc(var(--size) * -0.25));
    margin-bottom: var(--emoteMargin, calc(var(--size) * -0.25));
    margin-left: var(--emoteSpacing, var(--gEmoteSpacing));
    margin-right: var(--emoteSpacing, var(--gEmoteSpacing));

    /* transform: translate(0px, calc( var(--emoteSize, --gEmoteSize) * var(--emoteOffset, 0.25) )); */
}

.background {
    width: 100%;
    height: 100%;
    border-radius: calc(var(--gBorderRadius) * 0.75);

    position: absolute;
    bottom: 0;
    z-index: -1;
    display: block;
    opacity: var(--gImageOpacity);

    background: var(--background);
    background-size: contain;       /* alt: cover       */
    background-position: center;    /* alt: top-center  */
    background-repeat: repeat;      /* alt: no-repeat   */
}
